/* SPDX-License-Identifier: MPL-2.0 */
/* Copyright © 2024 André Santos */

#root {
  width: 94vw;
  height: 90vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1vh 1vw;
  text-align: center;
  background-color: white;
}
